<div class="devise-wrapper">
  <div class="devise-container">
    <div class="devise-container-left">
      <h2>Connexion</h2>

      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}", class: "flash-devise" %>
      <% end %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "Mot de passe" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field devise-checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Souvenez-vous de moi" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Je me connecte" %>
        </div>
      <% end %>

      <div class="devise-links">
        <p>Vous souhaitez créer un compte pour utiliser l'application ?</p>
        <p>Vous avez oublié votre mot de passe ?</p>
        <p style="padding-top:10px">Contactez-moi directement :</p>
        <p><a href="mailto:mariearnaud.am@gmail.com">mariearnaud.am@gmail.com</a></p>
        <p><a href="tel:0770030540">07 70 03 05 40</a></p>
      </div>
    </div>
    <div class="devise-container-right">
      <%= image_tag("authentication.svg") %>
    </div>
  </div>
</div>
